<section> 
	<a href = "/profile">Profile</a>
	<a href = "/logout">Logout</a>
	<br>
	<a href = "/feed/local">Local</a>
	<a href = "/feed/state">State</a>
	<a href = "/feed/regional">Regional</a>
	<a href = "/feed/national">National</a>
	<h6>PIKT</h6>
	<p>You are logged in as {{username}}</p>
	<p>{{location}}</p>
	<form id = "formID" action="/feed/" disabled = {{bool}} enctype = "multipart/form-data" method="POST">
		<label>{{formLabel}} </label>
		<input id = "picture" type="file" name="pic" accept="image/*">
  		<input type="submit">
	</form>
	<div class="form-group hidden" id="error-container">
        <div class="alert alert-danger text-goes-here">
        </div>
    </div>
	<div>
    <p>Taken from wikpedia</p>
	{{#each posts}}
		<article class = "post">
			<img src="data:image/png;base64, {{data}}" alt="Picc" />
			<form id = "upvoteID" action="/feed/upvote" method="POST">
				<input type="hidden" id="picID" name="picID" value="{{_id}}">
				<input type="submit" value="Upvote">
			</form>
		</article>
	{{/each}}
</div> 
</section>