<div>
	<ul>
		<li>Username: {{user.username}}</li>
		<li>First Name: {{user.firstName}}</li>
		<li>Last Name: {{user.lastName}}</li>
		<li>Profession: {{user.profession}}</li>
		<li>Bio: {{user.bio}}</li>
	</ul>
</div>